@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './style/variables.scss';

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

a:hover{
    color:#5c678d;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-general{
    background-color: $primary_color;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 40px;
}

.btn-general:active{
    background-color: #46c197;
    
}

.btn-general:hover{
    color: white;
}


.sm-container{
    width: 70%;
    margin: auto;
}

.active-link{
    padding: 10px 20px;
    background-color: #f0f4fa;
    border-radius: 40px;
}

.active-cours{
    transform: scale(1.2)
}